USE [master]
GO
/****** Object:  Database [Lab2_Home]    Script Date: 1/28/2024 8:15:41 PM ******/
CREATE DATABASE [Lab2_Home]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Lab2_Home', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Lab2_Home.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Lab2_Home_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Lab2_Home_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Lab2_Home].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Lab2_Home]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 1/28/2024 8:15:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[StudentRegNo] [ntext] NULL,
	[CourseName] [ntext] NULL,
	[TimeStamp] [datetime] NULL,
	[Status] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 1/28/2024 8:15:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[Course_ID] [ntext] NULL,
	[Course_Name] [ntext] NULL,
	[Student_Name] [ntext] NULL,
	[Teacher_Name] [ntext] NULL,
	[Semester] [ntext] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollments]    Script Date: 1/28/2024 8:15:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollments](
	[StudentRegNo] [ntext] NULL,
	[CourseName] [ntext] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 1/28/2024 8:15:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[RegisterationNumber] [ntext] NULL,
	[Name] [ntext] NULL,
	[Department] [ntext] NULL,
	[Session] [int] NULL,
	[Address] [ntext] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
